In [16]:
# PostgreSQL and Pandas

In [17]:
# Histogram to visualize the most common salary ranges for employees

In [18]:
# Bar Chart of Average Salary By Title

In [19]:
#Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import psycopg2
from sqlalchemy import create_engine

In [20]:
#File paths
file_path=os.path.join("","Charts/")

In [21]:
#Environment Varibale:  Postgres db host,ID,password and db name info is stored as environment variables.
#Environment variables are loaded as a part of Jupyter session

In [24]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt


# follows django database settings format
DATABASES = {
    'hp_db':{
        'NAME': 'Givens_SQL_Challenge',
        'USER': 'postgres',
        'PASSWORD': 'postgres',
        'HOST': 'localhost',
        'PORT': 5432,
    },
}

# choose the database to use
db = DATABASES['hp_db']

# construct an engine connection string
engine_string = "postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}".format(
    user = db['USER'],
    password = db['PASSWORD'],
    host = db['HOST'],
    port = db['PORT'],
    database = db['NAME'],
)

# create sqlalchemy engine
engine = create_engine(engine_string)

# read a table from database into pandas dataframe, replace "tablename" with your table name
employees = pd.read_sql_table('employees',engine)
salaries = pd.read_sql_table('salaries',engine)
query_ts = pd.read_sql_query(
 #   '''select t.title, avg(s.salary) 
  #      from titles as t join salaries as s 
   #        on (s.emp_no = t.emp_no)
    #    group by t.title;''',engine)

In [25]:
plt.style.use('classic')
salaries1['salary'].hist(color = 'c')

mean = round(salaries['salary'].mean(),2)
plt.title("Salary Ranges for Employees.")
plt.xlabel("Salaries")
plt.ylabel("Count")

plt.annotate(f"mean -> {mean}", xy=(55000,110000),color='#483D8B')

plt.axvline(salaries['salary'].mean(), color='#483D8B', linestyle='dashed', linewidth=4)
plt.show()

NameError: name 'salaries1' is not defined

In [ ]:
## Create a histogram to visualize the most common salary ranges for employees.Â¶

In [ ]:
#Get the Salary 
try:
    salary_df = pd.read_sql_query('select * from "Salary" order by salary;', conn)
except:
    print("Failed to get database result for Salary table.")

In [ ]:
#Dispaly sample data
salary_df.head(5)

In [ ]:
#Let's clear format of salary column 
salary_df["salary"]=salary_df["salary"].str.replace("$","").str.replace(",","").astype(float)

In [ ]:
#let's determin bin size (@salary increment of 10K )
maximumvalue =salary_df.salary.max()
minimumvalue= salary_df.salary.min()
numberofbins = ( (maximumvalue - minimumvalue) / 10000 )
numberofbins

In [ ]:
#Plot histogram
ax = salary_df.hist(column='salary', bins=9, grid=True, figsize=(12,9), color='#86bf91', zorder=1, rwidth=0.95)
plt.xlabel("Salary", weight='bold', size=12)
plt.ylabel("Employee Count", weight='bold', size=12)
plt.title("Most Common Salary Ranges For Employees", weight='bold', size=15)

#Save plot file
plt.savefig(file_path +"commonsalaryRange.png")

In [ ]:
## Create a bar chart of average salary by title

In [ ]:
#Get Title salary
try:
    title_salary = pd.read_sql_query('SELECT salary,title FROM "Salary" s,"Employee" e,"Title" t \
                        WHERE s.emp_no=e.emp_no AND \
                        e.emp_title_id =t.title_id ORDER BY s.salary ASC;', conn)
except:
    print("Failed to get database result for Salary by Title query.")

In [ ]:
#Display sample data
title_salary.head()

In [ ]:
#Remove Salary format for pandas group by
title_salary["salary"]=title_salary["salary"].str.replace("$","").str.replace(",","").astype(float)

In [ ]:
#Display sample data
title_salary.head()

In [ ]:
#Get average salary for job title
title_salary= title_salary.groupby(["title"]).mean()

#Reset index
title_salary =title_salary.reset_index()

In [ ]:
#Display sample records
title_salary.head()

In [ ]:
#Set fig size
fig,ax = plt.subplots(figsize=(7,5), dpi=100)

#Get x and y axis
x_axis = title_salary.title
y_axis= title_salary.salary

#Set the plot with x and y axis
plt.bar(x_axis,y_axis,color="#86bf91")

#Set graph legend
plt.xlabel("Job Title", weight='bold', size=12)
plt.ylabel("Average Salary", weight='bold', size=12)
plt.title("Average Salary By Job Title", weight='bold', size=15)
plt.draw()

#Save plot file
plt.savefig(file_path +"salaryTitle.png")

#Set x axis lable alignment
ax.set_xticklabels(ax.get_xticklabels(), rotation=30, ha='right')

In [ ]:
#Close DB connection
try:
    conn.close()
except:
    print("Database connection is aborted or not active")
else:
    print("Database Connection closed successfully!")